use cc3200::simplelink::SlSecParams;

// Eg. OpenWireless.org
pub const SSID: &'static str = "OpenWireless.org";

pub fn security_params() -> Option<SlSecParams> {
    // If using an open access point, just return None
    //Some(SlSecParams::wpa2("YOUR-PASSWORD-HERE"))
    None
}

// Update URL for simple-ota demo
pub const OTA_URL: &'static str = "http://example.com/mcuimg.bin";
